<!DOCTYPE html>
    <html>

        <head>
            <title>Analysis</title>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        </head>
        <body>

            <div class="graph-page-container">

                {{1+1}}
                <br/>
                <br/>
                <br/>

                <!-- <table>
                    <tr>
                        <th>Name</th>
                        <th>Birth Date</th>
                        <th>Added</th>
                    </tr>
                    <tr ng-repeat="ar in arias">
                        <td>{{ ar.name }}</td>
                        <td>{{ ar.date }}</td>
                        <td>{{ ar.id }}</td>
                    </tr>
                </table> -->

                <table>
                    <tr ng-repeat="num in allZodiacs track by $index">
                        <td>{{ num }}</td>
                    </tr>
                </table>

                <canvas id="myChart" style="width:100%;max-width:80%"></canvas>
                

            </div>

        </body>
    </html>