<!doctype html>
    <html>
        <head>

        </head>
        <body>
            
            <div class="people-table-container">
                <h1>Our users</h1>
            Filter: <input type="text" ng-model="search"/>
            <table>
                <tr>
                    <!-- <th ng-click="doSort('name')">Name</th>
                    <th ng-click="doSort('city')">City</th>
                    <th ng-click="doSort('orderTotal')">Order Total</th>
                    <th ng-click="doSort('joined')">Joined</th>
                    <th>&nbsp;</th> -->
                    <th>Name</th>
                    <th>Birth Date</th>
                    <th>Added</th>
                </tr>
                <tr ng-repeat="pers in people | filter:search">
                    <td>{{ pers.name }}</td>
                    <td>{{ pers.date }}</td>
                    <td>{{ pers.id }}</td>
                </tr>
            </table>
            
                <a href="app/views/graph.html">Watch The Analysis</a>
                <a href="app/views/addingForm.html">Add Your Details</a>
                
            </div>
    
        </body>
    </html>
